.sidebar {
  background-color: rgb(254, 76, 76);
  width: 14rem;
  height: calc(100vh - 52px);
  border-right: 1px solid gray;
}
.sidebar > ul {
  list-style: none;
  padding: 1rem 2rem;
}
.sidebar > ul > li {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  margin-bottom: 1rem;
}
.sidebar > ul > li > a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
li:hover {
  background-color: red;
  color: white;
  border-radius: 8px;
}
